<p>
<a href="#1week">一週間</a>
<a href="#1month">一ヶ月</a>
<a href="#3month">三カ月</a>
<a href="#1year">一年</a>
</p>

<p>
<span>項目(1)
  <select>
    <option>歩数</option>
    <option>体重</option>
    <option>血圧</option>
    <option>体脂肪率</option>
  </select>
</span>
<span>項目(2)
  <select>
    <option>歩数</option>
    <option>体重</option>
    <option>血圧</option>
    <option>体脂肪率</option>
  </select>
</span>
</p>

<p>
<input type="button" value="prev"></input>
<input type="button" value="next"></input>
</p>

<div id="graph_test" style="min-width: 400px; height: 300px; margin: 0 auto"></div
