$width: 785px;
body {
  width: $width;
  margin:0 auto;
  padding:0;
  line-height:1.6;
  letter-spacing:1px;
  font-family:Verdana, Helvetica, sans-serif;
  font-size:13px;
}
/* ========HEADER CUSTOMIZE======== */
#header {
  $title_color: #000000;
  $title_bg_color: #FFFFFF;
  background: $title_bg_color;
  border: double;
  position: relative;
  h1 {
    margin:0;
    padding:0 10px;
    font-size:24px;
    color: $title_color;
    line-height:80px;

    a {
      color: $title_color;
      &:hover {
        color:#999999;
      }
    }
  }

  .headerlink {
    position: absolute;
    top: 0;
    right: 10px;
    li {
      float: right;
    }
  }
}
/* ========MENU CUSTOMIZE======== */
#menu {
  ul {
    margin:0 -1px 0 0;
    padding:0;
    list-style:none;

    &:after{
      content:"";
      display:block;
      height:0;
      clear:both;
      visibility:hidden;
    }
  }

  li {
    float:left;
    margin-right:1px;
    background:#FFFFFF;
    border: double;
    a {
      display:block;
      width:124px;
      color:#000000;
      text-align:center;
      line-height:2.5;
      background:#FFFFFF;

      &:hover {
        color:#FFFFFF;
        background:#999999;
      }
    }
  }
}
/* ========CONTENTS CUSTOMIZE======== */
#contents {
  a {
    color:#DF8713;
    &:hover {
      border:0;
      color:#DF8713;
      border-bottom:1px solid #DF8713;
    }
  }

  #nav {
    border: double;
  }

  #left-sidebar{
    border: double;
    width: 180px;
    height: 600px;
    float: left;
    .box{
      border: double;
      width: 174px;
      height: 100px;
    }
  }

  #main{
    border: double;
    width: 407px;
    height: 600px;
    float: left;
    .box{
      border: double;
      width: 401px;
      .monitoring_box {
      }
    }
    .graph_box{
      border: double;
      width: 401px;
    }
  }

  #right-sidebar{
    border: double;
    width: 180px;
    height: 600px;
    float: right;
    .box{
      border: double;
      width: 174px;
      height: 100px;
    }
  }

  #footer {
    clear: both;
    border: double;
  }
}

